<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test name="TestGroup1" verbose="2" preserve-order="false">
        <classes>
            <!-- Test class 1 for Step Definitions -->
            <class name="Runner.Runcucumber">
                           </class>

            <!-- Test class 2 for additional REST methods (if needed, uncomment and define) -->
            <!--
            <class name="StepDefination.RestBDD">
                <methods>
                    <include name="boolian"/>
                </methods>
            </class>
            -->
        </classes>
    </test>
</suite>
